<%= form_for(@product) do |f| %>
	<%= if @product.errors.any? %>
		<div id="error_explanation">
			<h2><?= pluralize(@product.errors.count, "erro") %> prohibited this order from being saved.</h2>
    
		<ul>
		<% @order.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
	<% end %>

	<div class=field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>

	<div class=field">
		<%= f.label :description %><br />
		<%= f.text_field :description %>
	</div>

	<div class=field">
	 <%= f.label :image %><br />
	 <%= f.text_field :image %>
	</div>

	<div class=field">
	 <%= f.label :price %><br />
	 <%= f.text_field :price %>
	</div>

	<div class=field">
		<%= f.label :stock %><br />
		<%= f.text_field :stock %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>
