<p id="notice"><%= notice %></p>

<div id=show_inventory>
	<p>
	<b>Name:</b>
		<%= @products.name %>
	</p>

	<p>
		<b>Description:</b>
		<%= @products.descriptiom %>
	</p>

	<p>
		<b>Image:</b>
		<%= @products.image %>
	</p>

	<p>
		<b>Price:</b>
		<%= @products.price %>
	</p>

	<p>
		<b>In stock:</b>
		<%= @products.stock %>
	</p>

	<p>
		<b>Updated:</b>
		<%= @products.updated_at %>
	</p>

</div>


		
