
<div id=show_order>
  <p>
    <b>Name:</b>
    <%= @order.name %>
  </p>

  <p>
    <b>Phone:</b>
    <%= @order.phone %>
  </p>

  <p>
    <b>Email:</b>
    <%= @order.email %>
		</p>

  <p>
    <b>Address:</b>
    <%= @order.address%>
  </p>
  <p>
    <b>Irrigation:</b>
    <%= @order.irrigation %>
  </p>
	<p>
	<P>
		<b>Order ID:</b>
		<%= @order.id %>
	</p>
    <b>Created:</b>
    <%= @order.created_at %>
  </p>
  <p>
    <b>Updated:</b>
    <%= @order.updated_at%>
  </p>
  <p>

</div>

<div>
	<table id="order_price_table", style="color:white", class="cool_table">
		<tr>
			<th>Product ID</th>
			<th>Quantity</th>
			<th>Unit Price</th>
			<th>Sub Total</th>
		</tr>	
	<% @cart_items.each do |c| %>
		<tr>
			<td><%= c.id %></td>
			<td><%= c.quantity %></td>
			<td><%= number_to_currency(c.price) %></td>
			<td><%= number_to_currency(c.price * c.quantity) %></td> 
		</tr>
	<% end %>
		<tr>
			<td>Total:<%= number_to_currency(@order.total_price) %></td>
		</tr>
	</table>
</div>

<div id="edit_and_back">
	<%= link_to 'Edit', edit_order_path(@order), :style => "background-color: #debf68" %> |
	<%= link_to 'Back', orders_path, :style => "background-color: #debf68" %>
</div>
