<%= render :partial => "display_cart" %>

<div id="order_form">
	<%= form_tag(:action => 'create', :controller => 'catalog') do %>
		<% if @order.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

				<ul>
				<% @order.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
				</ul>
			</div>
		<% end %>

			<div>
				<%= label_tag :name %><br />
				<%= text_field(:order, :name) %>
			</div>
			<div>
				<%= label_tag :phone %><br />
				<%= telephone_field(:order, :phone, :placeholder => "nnn-nnn-nnnn" ) %>
			</div>
			<div>
				<%= label_tag :email %><br />
				<%= email_field(:order, :email, :placeholder => "youremail@address.com") %>
				</div>
			<div>
				<%= label_tag :address %><br />
				<%= text_area :order, :address, :size => "25x5" %>

			</div>
			<div>
				<%= label_tag "Need irrigation services?" %><br />
				<%= check_box_tag(:irrigation) %>
			</div>

			<%= submit_tag "Submit order" %>
		<% end %>
</div>
