<h1 id="admin_index_header">Manage Products</h1>

<div class="admin_links">
	<%= link_to 'Add product', new_admin_product_path %>
</div>

<table width="300" cellpadding="20" cellspacing="0" class="admin_tools">
	<% odd_or_even = 0 %>

	<tr class="table_heading">
		<td>Name</td>
		<td>Description</td>
		<td>Price</td>
		<td>In Stock</td>
	</tr>
	
	<% @products.each do |product| %>
		<% odd_or_even = 1 - odd_or_even %>
		<tr class="product_line<%=odd_or_even %>">
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= product.price %></td>
		<td><%= product.stock %></td>
	  <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
		<td><%= link_to 'Remove', admin_product_path(product), :confirm => 'Really want to stop selling this?', :method => :delete %></td>
	</tr>
<% end %>
</table>
