<h1 id="admin_index_header">Manage Products</h1>

<div class="admin_links">
	<%= link_to 'Add product', new_admin_product_path %>
</div>

<table width="600" cellpadding="20" cellspacing="0" class="products_list" id="manage_products_table">
	<% odd_or_even = 0 %>

	<tr class="table_heading">
		<td><b>Name</b></td>
		<td><b>Description</b></td>
		<td><b>Price</b></td>
		<td><b>In Stock</b></td>
		<td><b>Category</b></td>
	</tr>
	
	<% @products.each do |product| %>
		<% odd_or_even = 1 - odd_or_even %>
		<tr class="product_line<%=odd_or_even %>">
		<td><%= product.name %></td>
		<td><%= product.description %></td>
		<td><%= number_to_currency(product.price) %></td>
		<td><%= product.stock %></td>
		<td><%= product.category %></td>
	  <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
		<td><%= link_to 'Remove', admin_product_path(product), :confirm => 'Really want to stop selling this?', :method => :delete %></td>
	</tr>
<% end %>
</table>
