<p id="notice"><%= notice %></p>

<div id=show_products>
	<p>
	<b>Name:</b>
		<%= @product.name %>
	</p>

	<p>
		<b>Description:</b>
		<%= @product.description %>
	</p>

	<p>
		<b>Image:</b>
		<%= @product.image %>
	</p>

	<p>
		<b>Price:</b>
		<%= @product.price %>
	</p>

	<p>
		<b>In stock:</b>
		<%= @product.stock %>
	</p>
	
	<p>
		<b>Category:</b>
		<%= @product.category %>
	</p>

	<p>
		<b>Updated:</b>
		<%= @product.updated_at %>
	</p>

</div>


		
