<!doctype html>
<html>
<head>
  <title>boxwood trees</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	</head>
	

<body>	
	
	<div id="side_bar_links">
		<%= render 'links/side_links' %>
  </div>
	
	<div id="cart_indicator">	
		<%= render :partial => "catalog/cart_indicator" %>
	</div>
	
	<div id="login">
		<%= link_to 'login',admin_index_path  %>
	</div>
	
	<div id="logo">
		<%= image_tag("logo.png") %>
	</div>	
	
	<div id="links">
		<ul id="link_list">
			<li class="button"><%= link_to "About Boxwoods", "/" %></li>
			<li class="button"><%= link_to "Forum", "http://www.reddit.com/r/horticulture" %></li>
			<li class="button"><%= link_to "Catalog", :controller => "catalog", :action => "index" %></li>
			<li class="button"><%= link_to "Hedge Planner", hedge_planner_index_path %></li>
		</ul>
	</div>


	<div id="content">
		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% end -%>

		<%= @content_for_layout %>
		<%= yield %>
	</div>
</body>
</html>
